h1{
    font-size: 50px;

}
body{
    
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.name-color-korbe{

    color: red;
}

.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{

    width: 90%;
}

.top-banner{

    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{

    height: 500px;
}

.link-button{

    color: white;
    font-weight: bold;
    text-decoration: none; /*button er niche kono underline thakbe na*/
    background-image: linear-gradient(lightSalmon,tomato); /*button er background color lightSalmon theke tomato color hbe*/
    padding: 10px 20px;
    border-radius: 5px; /*rectangle er kona gula chokha thakbe na
}